*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%; //10px
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	position: relative;
	font-family: 'Poppins', sans-serif;
	background-color: #f3f3f3;
	color: #222;
	font-size: 1.6rem;
}

.darkened_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	overflow-y: scroll;
}

.main {
	display: flex;
	height: 100vh;
	&_container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;
		margin-left: 10em;
		transform: translateY(-3em);
		&__image {
			height: 108px;
			transform: translateX(-9.5em);
		}

		&__description {
			transform: translateY(-0.8em);
			font-size: 2.6rem;
		}
	}

	&_input_container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: end;
		padding: 3em;
		width: 50%;
		&__form {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: #fff;
			padding: 1em;
			width: 80%;
			text-align: center;
			transform: translateX(-6em);
			border-radius: 0.8em;
			box-shadow: 0px 0px 25px -11px rgba(0, 0, 0, 0.75);
			-webkit-box-shadow: 0px 0px 25px -11px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 0px 0px 25px -11px rgba(0, 0, 0, 0.75);
			&_input {
				display: block;
				width: 100%;
				padding: 1.2em;
				border: 1.2px solid #e4e4e4;
				border-radius: 0.8em;
				font-size: 1.6rem;

				&:nth-child(2) {
					position: relative;
					margin-top: 1em;
				}

				&:focus {
					outline: none;
					border: 1px solid rgb(43, 104, 216);
				}
			}

			&_button {
				padding: 0.8em;
				margin-top: 1.4em;
				width: 100%;
				border: none;
				border-radius: 0.4em;
				font-size: 1.8rem;
				font-weight: bold;
				color: #fff;

				&:hover {
					cursor: pointer;
				}

				&--login {
					background-color: rgb(43, 104, 216);
				}

				&--create_account {
					width: 60%;
					background-color: rgb(9, 172, 9);
				}
			}

			&_forgotten_password {
				display: inline-block;
				margin: 1.4em;
				font-size: 1.3rem;
				color: rgb(108, 108, 253);
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.underline {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid rgb(214, 214, 214);
}

.toggle_password_visibility {
	position: absolute;
	top: 7em;
	right: 5em;
	transform: translateX(2em);
	cursor: pointer;
}

.hide-item {
	display: none;
	transition: display 0.5s ease-in-out;
}

.create_account {
	height: 100%;
	&_container {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		margin: 2em;
		background-color: #fff;
		width: 35%;
		border-radius: 0.8em;
		box-shadow: 0px 0px 29px 4px rgba(0, 0, 0, 0.75);
		-webkit-box-shadow: 0px 0px 29px 4px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 29px 4px rgba(0, 0, 0, 0.75);
		&__header_container {
			position: relative;
			padding: 0.7em 0 0 0.7em;
		}
		&__header {
			font-size: 3rem;
		}

		&__paragraph {
			font-size: 1.4rem;
			font-weight: lighter;
		}

		&__close_window {
			position: absolute;
			top: 20%;
			right: 4%;
			font-size: 2.5rem;
			color: lightslategray;
			cursor: pointer;
		}

		&__form {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
			padding: 1em;
			margin-top: -1em;
			&--input {
				margin-top: 0.7em;
				padding: 0.7em;
				background-color: #f8f6f6;
				border: 1.2px solid #e4e4e4;
				border-radius: 0.3em;
				font-size: 1.6rem;
			}
			.name_surname_input {
				width: 47%;

				&:nth-child(1) {
					margin-right: 6%;
				}
			}

			.create_account_email_input,
			.create_account_email_input_confirm,
			.create_account_password_input {
				width: 100%;
			}

			&--date_of_birth,
			&--gender {
				margin-top: 1.2em;
				font-weight: lighter;
				font-size: 1.3rem;
			}

			&--select_container {
				margin-top: -0.5em;
				width: 100%;
				display: flex;
				justify-content: space-between;
			}

			&--select_day,
			&--select_month,
			&--select_year {
				width: 31%;
				background-color: #fff;
			}

			&--gender_container {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			&--gender_input {
				position: relative;
				display: inline-block;
				padding: 0.5em;
				border: 1.2px solid #e4e4e4;
				width: 48%;
				border-radius: 0.3em;

				&:nth-child(3) {
					margin-top: 1em;
					width: 100%;
				}

				.radio {
					position: absolute;
					top: 50%;
					right: 2%;
					transform: translate(-50%, -50%);
				}
			}

			&--custom_settings_container {
				width: 100%;
			}

			&--select_gender {
				display: inline-block;
				width: 100%;
				margin-top: 0.7em;
				padding: 0.7em;
				border: 1.2px solid #e4e4e4;
				border-radius: 0.3em;
				font-size: 1.6rem;
			}

			&--gender_info {
				font-size: 1.2rem;
				margin: 0.4em;
			}

			&--not_required_input {
				margin-top: 0.7em;
				padding: 0.7em;
				background-color: #f8f6f6;
				border: 1.2px solid #e4e4e4;
				border-radius: 0.3em;
				font-size: 1.6rem;
				width: 100%;
			}

			&--description {
				font-weight: lighter;
				font-size: 1rem;
				margin-top: 1em;
			}
		}

		&__button_container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__button {
			padding: 0.6em;
			margin: 1.4em;
			border: none;
			border-radius: 0.4em;
			font-size: 1.8rem;
			font-weight: bold;
			color: #fff;
			width: 40%;
			background-color: rgb(9, 172, 9);
			cursor: pointer;
		}
	}
}
